/* Enter your custom styles here */

.sapUiFormResGrid>div {
    padding: 0rem 0rem;
    box-sizing: border-box;
}

.sapUiFormM .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0rem;
    line-height: 3rem;
}

.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: black;
}

@media (min-width: 1024px) .sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin,
.sapUiResponsiveMargin {
    /* margin: 1rem 2rem !important; */
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
    .stckLotLabelWidth.sapMTB-Transparent-CTX.sapMLabel {
        width: 40%;
    }
}

@media only screen and (max-width: 360px),
only screen and (max-device-width: 360px) {
    .stckLotLabelWidth.sapMTB-Transparent-CTX .sapMLabel {
        width: 40%;
    }
}


/*@media (min-width: 1024px)*/

.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin,
.sapUiResponsiveMargin {
    margin: 0rem 0rem !important;
}

.stickyheader {
    position: sticky;
    top: 0;
}


/*.sapUiSizeCompact .sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer {*/


/*    padding: 0rem;*/


/*}*/